# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# XCode & Mac
.DS_Store
xcuserdata/
*.build/
*.pbxuser
*.xcuserdata
*.xcuserdatad

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Project specific
build/
