[submodule "ThirdParty/Juce"]
	path = ThirdParty/Juce
	url = https://github.com/julianstorer/JUCE.git
[submodule "ThirdParty/Flip"]
	path = ThirdParty/Flip
	url = https://eliottparis@github.com/Musicoll/flip.git
