.main { font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif; line-height: 1.6; word-wrap: break-word; padding: 30px; font-size: 16px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); overflow: scroll; margin-left: 250px}
.main > :first-child { margin-top: 0px !important; }
.main > :last-child { margin-bottom: 0px !important; }
.main a:not([href]) { color: inherit; text-decoration: none; }
.main .absent { color: rgb(204, 0, 0); }
.main .anchor { position: absolute; top: 0px; left: 0px; display: block; padding-right: 6px; padding-left: 30px; margin-left: -30px; }
.main .anchor:focus { outline: none; }
.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 { position: relative; margin-top: 1em; margin-bottom: 16px; font-weight: bold; line-height: 1.4; }
.main h1 .octicon-link, .main h2 .octicon-link, .main h3 .octicon-link, .main h4 .octicon-link, .main h5 .octicon-link, .main h6 .octicon-link { display: none; color: rgb(0, 0, 0); vertical-align: middle; }
.main h1:hover .anchor, .main h2:hover .anchor, .main h3:hover .anchor, .main h4:hover .anchor, .main h5:hover .anchor, .main h6:hover .anchor { padding-left: 8px; margin-left: -30px; text-decoration: none; }
.main h1:hover .anchor .octicon-link, .main h2:hover .anchor .octicon-link, .main h3:hover .anchor .octicon-link, .main h4:hover .anchor .octicon-link, .main h5:hover .anchor .octicon-link, .main h6:hover .anchor .octicon-link { display: inline-block; }
.main h1 tt, .main h2 tt, .main h3 tt, .main h4 tt, .main h5 tt, .main h6 tt, .main h1 code, .main h2 code, .main h3 code, .main h4 code, .main h5 code, .main h6 code { font-size: inherit; }
.main h1 { padding-bottom: 0.3em; font-size: 2.25em; line-height: 1.2; border-bottom: 1px solid rgb(238, 238, 238); }
.main h1 .anchor { line-height: 1; }
.main h2 { padding-bottom: 0.3em; font-size: 1.75em; line-height: 1.225; border-bottom: 1px solid rgb(238, 238, 238); }
.main h2 .anchor { line-height: 1; }
.main h3 { font-size: 1.5em; line-height: 1.43; }
.main h3 .anchor { line-height: 1.2; }
.main h4 { font-size: 1.25em; }
.main h4 .anchor { line-height: 1.2; }
.main h5 { font-size: 1em; }
.main h5 .anchor { line-height: 1.1; }
.main h6 { font-size: 1em; color: rgb(119, 119, 119); }
.main h6 .anchor { line-height: 1.1; }
.main p, .main blockquote, .main ul, .main ol, .main dl, .main table, .main pre { margin-top: 0px; margin-bottom: 16px; }
.main hr { height: 4px; padding: 0px; margin: 16px 0px; background-color: rgb(231, 231, 231); border: 0px none; }
.main ul, .main ol { padding-left: 2em; }
.main ul.no-list, .main ol.no-list { padding: 0px; list-style-type: none; }
.main ul ul, .main ul ol, .main ol ol, .main ol ul { margin-top: 0px; margin-bottom: 0px; }
.main li > p { margin-top: 16px; }
.main dl { padding: 0px; }
.main dl dt { padding: 0px; margin-top: 16px; font-size: 1em; font-style: italic; font-weight: bold; }
.main dl dd { padding: 0px 16px; margin-bottom: 16px; }
.main blockquote { padding: 0px 15px; color: rgb(119, 119, 119); border-left: 4px solid rgb(221, 221, 221); }
.main blockquote > :first-child { margin-top: 0px; }
.main blockquote > :last-child { margin-bottom: 0px; }
.main table { display: block; width: 100%; overflow: auto; word-break: keep-all; }
.main table th { font-weight: bold; }
.main table th, .main table td { padding: 6px 13px; border: 1px solid rgb(221, 221, 221); }
.main table tr { background-color: rgb(255, 255, 255); border-top: 1px solid rgb(204, 204, 204); }
.main table tr:nth-child(2n) { background-color: rgb(248, 248, 248); }
.main img { max-width: 100%; box-sizing: border-box; }
.main .emoji { max-width: none; }
.main span.frame { display: block; overflow: hidden; }
.main span.frame > span { display: block; float: left; width: auto; padding: 7px; margin: 13px 0px 0px; overflow: hidden; border: 1px solid rgb(221, 221, 221); }
.main span.frame span img { display: block; float: left; }
.main span.frame span span { display: block; padding: 5px 0px 0px; clear: both; color: rgb(51, 51, 51); }
.main span.align-center { display: block; overflow: hidden; clear: both; }
.main span.align-center > span { display: block; margin: 13px auto 0px; overflow: hidden; text-align: center; }
.main span.align-center span img { margin: 0px auto; text-align: center; }
.main span.align-right { display: block; overflow: hidden; clear: both; }
.main span.align-right > span { display: block; margin: 13px 0px 0px; overflow: hidden; text-align: right; }
.main span.align-right span img { margin: 0px; text-align: right; }
.main span.float-left { display: block; float: left; margin-right: 13px; overflow: hidden; }
.main span.float-left span { margin: 13px 0px 0px; }
.main span.float-right { display: block; float: right; margin-left: 13px; overflow: hidden; }
.main span.float-right > span { display: block; margin: 13px auto 0px; overflow: hidden; text-align: right; }
.main code, .main tt { padding: 0.2em 0px; margin: 0px; font-size: 85%; background-color: rgba(0, 0, 0, 0.04); border-radius: 3px; }
.main code::before, .main tt::before, .main code::after, .main tt::after { letter-spacing: -0.2em; content: " "; }
.main code br, .main tt br { display: none; }
.main del code { text-decoration: inherit; }
.main pre > code { padding: 0px; margin: 0px; font-size: 100%; word-break: normal; white-space: pre; background: transparent; border: 0px; }
.main .highlight { margin-bottom: 16px; }
.main .highlight pre, .main pre { padding: 16px; overflow: auto; font-size: 85%; line-height: 1.45; background-color: rgb(247, 247, 247); border-radius: 3px; }
.main .highlight pre { margin-bottom: 0px; word-break: normal; }
.main pre { word-wrap: normal; }
.main pre code, .main pre tt { display: inline; max-width: initial; padding: 0px; margin: 0px; overflow: initial; line-height: inherit; word-wrap: normal; background-color: transparent; border: 0px; }
.main pre code::before, .main pre tt::before, .main pre code::after, .main pre tt::after { content: normal; }
.main kbd { display: inline-block; padding: 3px 5px; font-size: 11px; line-height: 10px; color: rgb(85, 85, 85); vertical-align: middle; background-color: rgb(252, 252, 252); border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(187, 187, 187); border-image: initial; border-radius: 3px; box-shadow: rgb(187, 187, 187) 0px -1px 0px inset; }
.main a { color: rgb(51, 122, 183); }
.main code { color: inherit; }
.main pre.editor-colors { padding: 0.8em 1em; margin-bottom: 1em; font-size: 0.85em; border-radius: 4px; overflow: auto; }
